@import "../vendor/bootstrap/less/bootstrap.less";
@import (inline) "../vendor/ngprogress/ngprogress.css";

@brand-primary:         #20201f;
@brand-success:         #3c99da;
@brand-info:            #4d4d4d;
@brand-warning:         #f0ad4e;
@brand-danger:          #d80000;

.grid {
  height: 500px;
  width: 100%;
  border: 1px solid black;
}